node_modules
ios/Pods
ios/Pods/Manifest.lock
android/.gradle
android/.idea
android/app/build
android/app/src/.DS_Store
android/app/src/main/.DS_Store
android/app/src/main/res/.DS_Store
src/.DS_Store
src/Onboarding/.DS_Store
src/Common_Feature/.DS_Store